<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">../log/front</property>
        <property name="FILE_NAME">front.log</property>
        <property name="FILE_PREFIX">front</property>
    </properties>

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n %xEx"/>
        </Console>

        <RollingFile
                name="rollingLog"
                immediateFlush="true"
                bufferedIO="true"
                append="true"
                fileName="${LOG_HOME}/${FILE_NAME}"
                filePattern="${LOG_HOME}/${FILE_PREFIX}-$${date:yyyy-MM-dd}/exchange-front-%d{HH-mm}(%i).log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n %xEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30" modulate="true"/>
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug" includeLocation="true">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="rollingLog"/>
        </Root>
    </Loggers>
</Configuration>