#include('./partial/header.html',{title: keyword })
<div class="main-content page-page clearfix">
    <div class="search-page">
        <form role="search" onsubmit="return false;">
            <span class="search-box">
                <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30" autocomplete="off">
                <button type="submit" class="spsubmit" onclick="search()"><i class="icon-search"></i></button>
            </span>
        </form>
        <div class="search-tags">
            #for(tag : tags)
                <a href="/tag/${tag.name}" class="bg-white"># ${tag.name} (${tag.count})</a>
            #end
            <!--<p> 暂时还没有记录哟 ! </p>-->
            <div class="search-tags-hr bg-deepgrey"></div>
        </div>
    </div>
</div>
#include('./partial/footer.html')
