<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ArticleDao" >
  <resultMap id="BaseResultMap" type="com.blog.model.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="CHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="DECIMAL" />
    <result column="is_top" property="isTop" jdbcType="CHAR" />
    <result column="is_recommend" property="isRecommend" jdbcType="CHAR" />
    <result column="watch" property="watch" jdbcType="DECIMAL" />
    <result column="comment" property="comment" jdbcType="DECIMAL" />
    <result column="good" property="good" jdbcType="DECIMAL" />
    <result column="file_date" property="fileDate" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blog.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, synopsis, tag, picture, author, sort_id, is_top, is_recommend , watch, comment, good,file_date, deleted,
    update_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bl_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bl_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.blog.model.Article" >
    insert into bl_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="synopsis != null" >
        synopsis,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="sortid != null" >
        sortid,
      </if>
      <if test="istop != null" >
        istop,
      </if>
      <if test="watch != null" >
        watch,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="good != null" >
        good,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null" >
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=CHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="sortid != null" >
        #{sortid,jdbcType=DECIMAL},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=CHAR},
      </if>
      <if test="watch != null" >
        #{watch,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=DECIMAL},
      </if>
      <if test="good != null" >
        #{good,jdbcType=DECIMAL},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.model.Article" >
    update bl_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null" >
        synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=CHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="sortid != null" >
        sortid = #{sortid,jdbcType=DECIMAL},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=CHAR},
      </if>
      <if test="watch != null" >
        watch = #{watch,jdbcType=DECIMAL},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=DECIMAL},
      </if>
      <if test="good != null" >
        good = #{good,jdbcType=DECIMAL},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectLatelyArticle" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from bl_article where deleted='0' order by sortid asc limit ${startIndex},${endIndex}
  </select>
  <select id="selectRecommendArticle" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from bl_article where deleted='0' and is_recommend=#{isRecommend,jdbcType=CHAR} order by create_time desc
     limit ${startIndex},${endIndex}
  </select>
  <select id="selectFileDate" parameterType="java.util.Map" resultMap="BaseResultMap">
    select distinct(file_date) from bl_article where deleted='0' order by create_time desc
  </select>
</mapper>