<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.SafeCodeDao" >
  <resultMap id="BaseResultMap" type="com.blog.model.SafeCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="s_key" property="sKey" jdbcType="VARCHAR" />
    <result column="s_value" property="sValue" jdbcType="VARCHAR" />
    <result column="scangen_key" property="scangenKey" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="scan_time" property="scanTime" jdbcType="TIMESTAMP" />
    <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, scene_id, open_id, s_key, s_value, scangen_key, business_type, scan_time, 
    expiry_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bl_safe_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bl_safe_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.model.SafeCode" >
    insert into bl_safe_code (id, user_id, scene_id, 
      open_id, s_key, s_value, 
      scangen_key, business_type, scan_time, 
      expiry_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sceneId,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{sKey,jdbcType=VARCHAR}, #{sValue,jdbcType=VARCHAR}, 
      #{scangenKey,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, #{scanTime,jdbcType=TIMESTAMP}, 
      #{expiryTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.model.SafeCode" >
    insert into bl_safe_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="sKey != null" >
        s_key,
      </if>
      <if test="sValue != null" >
        s_value,
      </if>
      <if test="scangenKey != null" >
        scangen_key,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="scanTime != null" >
        scan_time,
      </if>
      <if test="expiryTime != null" >
        expiry_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sKey != null" >
        #{sKey,jdbcType=VARCHAR},
      </if>
      <if test="sValue != null" >
        #{sValue,jdbcType=VARCHAR},
      </if>
      <if test="scangenKey != null" >
        #{scangenKey,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        #{scanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryTime != null" >
        #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.model.SafeCode" >
    update bl_safe_code
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sKey != null" >
        s_key = #{sKey,jdbcType=VARCHAR},
      </if>
      <if test="sValue != null" >
        s_value = #{sValue,jdbcType=VARCHAR},
      </if>
      <if test="scangenKey != null" >
        scangen_key = #{scangenKey,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        scan_time = #{scanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryTime != null" >
        expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.model.SafeCode" >
    update bl_safe_code
    set user_id = #{userId,jdbcType=INTEGER},
      scene_id = #{sceneId,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      s_key = #{sKey,jdbcType=VARCHAR},
      s_value = #{sValue,jdbcType=VARCHAR},
      scangen_key = #{scangenKey,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      scan_time = #{scanTime,jdbcType=TIMESTAMP},
      expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>