<div class="social-list">
    #if(not_empty(social_link('weibo')))
    <a class="social weibo" target="blank" href="${social_link('weibo')}">微博</a>
    #end

    #if(not_empty(social_link('zhihu')))
    <a class="social zhihu" target="blank"
       href="${social_link('zhihu')}">知乎</a>
    #end

    <a class="social rss" target="blank" href="/feed">RSS</a>

    #if(not_empty(social_link('github')))
    <a class="social github" target="blank"
       href="${social_link('github')}">Github</a>
    #end

    #if(not_empty(social_link('twitter')))
    <a class="social twitter" target="blank" href="${social_link('twitter')}">Twitter</a>
    #end
</div>